body {
   
    font-family: "Hk Grotesk", sans-serif;
}
.twitter {
    height: 30px;
    margin-top: 28px;
}
.github {
    height: 30px;
    margin-top: 28px;
}
p {
    font-size: 25.5px;
    font-family: "Hk Grotesk", sans-serif;
}
.flex {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 30px;
    margin-top: 40px;
}
.luge {
    font-size: 256px;
    margin-right: 40vh;
    font-family: "Hk Grotesk", sans-serif;
    word-spacing: 0px;
}
.img1 {
    height: 250px;
    width: 250px;
    display: flex;
}
.catcher {
    display: flex;
    align-items: center;
    padding-left: 56vh;
    justify-content: center;
    margin-top: 80px;
}
.p2 {
    font-size: 49.98px;
    font-family: "Hk Grotesk", sans-serif;
    margin-left: 670px;
    padding-top: 60px;
    width: 597px;
    height: 130px;
}
.div2 {
    height: 90px;
    width: 550px;
    background-color: #000;
    margin-left: 670px;
    margin-top: 60px;
    padding: 5px;
    padding-left: 40px;
}
.p3 {
    color: #fff;
    font-size: 18px;
    font-family: "Hk Grotesk", sans-serif;
}
.section2{
    font-size: 194.004px;
    font-family: "Hk Grotesk", sans-serif;
    padding-top: 250px;
}
span{
    color: red;
    font-size: 19px;
    font-family: "Hk Grotesk", sans-serif;
    word-spacing: 2px;
}
.black-box{
    height: 93.968px;
    width: 600px;
    background-color: #000;
    padding: 5px 30px 0 30px;
    font-size: 18px;
    word-spacing: 2px;
 
    margin-left: 300px;
    
}
.big-box{
    height: 800px;
    width: 1275.34px;
    background-color: #30f7e3;
    margin: -275px 0 0 300px;
    width: 1275.34px;
  padding-top: 200px; 
  margin-top:10px;
}

.an-easy{
    font-size: 50.014px;
    font-family: "Hk Grotesk", sans-serif;
    padding-left: 300px;
    height: 195px;
    width: 715.188px;
    
}
.bracket{
    font-size:300px;
    margin-top: -15px;
    color:#30f7e3;
    font-family: "Hk Grotesk", sans-serif;
    
}
.tag{
    font-size:300px;
    color:#30f7e3;
    font-family: "Hk Grotesk", sans-serif;
    margin-top: -160px;
    margin-left: -15vh
}
.cool{
margin-bottom: -380px;
    font-size: 194.004px;
    word-spacing: 0;
 margin-left: 200px;
   margin-top: -100px;
    
}
.img-section{
  
    height: 430.703px;
    width: 367.672px;
    background-color: black;
   
    color: #fff;
    font-size: 17.986px;


}
.first-box{
    display: flex;
    gap: 100px;
    margin-left: 200px;
    text-align: center;
    margin-top: 800px;

}
.img-size{
    height: 159px;
    width: 223.984px;
    margin-top: 150px;
}
.second-box{
    display: flex;
    gap: 100px;
    margin-left: 200px;
    text-align: center;
    margin-top: 100px ;
   padding-left: 20vh;
}
.third-box{
    display: flex;
    gap: 100px;
    margin-left: 200px;
    text-align: center;
    margin-top: 100px ;
   padding-left: 40vh;
}
.and{
    height: 60px;
    width: 408px;
    background-color: #000;
   
    margin-left: 120vh;
    margin-top: 100px;
margin-bottom: 100px;
padding: 5px;
text-align: center;

}
.text-grey{
    color: gray;
    font-size: 20px;
}
.video-box{
    
    height: 1417.42px;
    width: 1905px;
    background-color: black;
    margin-bottom: 100px;
    
   
    
}
.video-containt{
    display: flex;
    color: #fff;
    gap: 500px;
  
}
.video-text{
    font-size: 194.004px;
    margin-left: 150px;

}
.star{
    font-size: 196px;
    color:#30f7e3;
    margin-right: 200px;
}
.text{
    color: gray;
    margin-top: -20vh;
    font-size: 20px;
    margin-left: 150px;
}
.video{
    margin-top: 80px;
    margin-left: 370px;
}
.benifit{
    height: 161.01px;
    width: 1905px;
    display: flex;
    gap:50px
   
}
.ben{
    font-size: 194.004px;
}
.second-star{
    font-size: 194.004px;
    color:#30f7e3;
}
.slider {
  /* transform: translate3d( calc(-25vw * var(--progress)),0,0 ) ; */
  -webkit-transform: translate3d(calc( -25vw * var(--progress)), 0, 0);
          transform: translate3d(calc( -25vw * var(--progress)), 0, 0);
}
.frontend-scroll{
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 9vw;
    letter-spacing: -0.05em;
    white-space: nowrap;
    margin-top: 100px;
  }
  .row-cross{
    padding: 80px;
    font-size: x-large;
  }
  .step-up{
    font-size: 7vw;
    width: 800px;
    height: 200px;
    padding-left: 100px;
  }
  .step-text{
    font-size: 2vw;
    width: 900px;
    height: 150px;
    padding-left: 100px;
    margin-top: 15vh;
  }
  #subscribe-css {
    position: relative;
    overflow: hidden;
    border-top: 4px solid #eee;
  }
  .subscribe-wrapper {
    color: #fff;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    padding-left: 150px;
    text-transform: none;
    font-weight: 400;
    width: 100%;
  }
  .subscribe-form {
    clear: both;
    display: block;
    overflow: hidden;
  }
  form.subscribe-form {
    clear: both;
    display: block;
    margin: 0;
    width: auto;
    overflow: hidden;
  }
  .subscribe-css-email-field {
    color: #ccc;
    margin: 10px 0;
    padding: 15px 20px;
    width: 35%;
    border: 5px solid;
  }
  .subscribe-css-email-button {
    background: black;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 14px 30px;
    margin-left: 15px;
    text-transform: none;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    transition: all 0.6s;
  }
  .subscribe-css-email-button:hover {
    background: aqua;
  }
  #subscribe-css p.subscribe-note {
    margin: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 180%;
    font-weight: 400;
    line-height: normal;
  }
  #subscribe-css p.subscribe-note span {
    position: relative;
    overflow: hidden;
    font-weight: 700;
    transition: all 0.5s;
  }
  #subscribe-css p.subscribe-note span.itatu {
    font-weight: 400;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    text-transform: lowercase;
  }
  #subscribe-css p.subscribe-note span.itatu:before,
  #subscribe-css p.subscribe-note span.itatu:after {
    display: none;
  }
  #subscribe-css p.subscribe-note span:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    margin: 10px 0 0;
    transition: all 0.5s;
  }
  #subscribe-css:hover p.subscribe-note span:before {
    width: 100%;
  }
  .feeling-text{
    font-size: 3vw;
    width: 500px;
    height: 10px;
    padding-left: 200px;
  }
  .feeling-div{
    display: flex;
    flex-direction: row;
  }
  .feeling-flat{
    height: 50px;
    width: 200;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 24px;
    color: #fff;
  }
  .column {
    float: left;
    width: 360px;
    height: 300px;
    padding: 20px;
  }
  hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}